.container{
    max-width: 80%;
    margin: auto;
 
  }
  .vitrina-block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
  }
  .item{
    color: #1b1b1b;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 45px;
    width:calc(20% - 60px);
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(220, 224, 226);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .item-description{
        text-align: center;
    }
   
}
img{
    max-width: 100%;

}
.item img{
    border-radius: 9px;
    height: 100%;
    object-fit: cover;
          object-position: center;
}
.item-image{
    height: 170px;
    margin-bottom: 15px;
}
.intro{
    margin-bottom: 50px;
}
.item-description{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #f3520c;
    font-size: 21px;
    text-transform:capitalize
}