@import "./components/style.scss";
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbc861;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.our-title{
  background-color: rgb(255, 187, 0);
  color: #3e3030;
  margin: 0;
  margin-bottom: 15px;
}

.button{
  border: 0;
  outline: 0;
  background-color: rgb(80, 54, 92);
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  color: antiquewhite;
  animation: 300ms ease;
  
}
.button:hover{
  background-color: rgb(103, 73, 117);
  cursor: pointer;
}
.button-new{
  border: 0;
  outline: 0;
  background-color: rgb(190, 123, 86);
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
}
.intro div{
  font-size: 16px;
  font-weight: 600;
}